<div class="container">

  <div class="nomeNomeio">
    <h1>Carrinho</h1>
  </div>

  <div class="box">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Qtd</th>
          <th scope="col">Produto</th>
          <th scope="col">Autor</th>
          <th scope="col">Preço</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td> <img class="img" src="https://images-na.ssl-images-amazon.com/images/I/A1VLAgenDNL.jpg" alt=""> Os Irmãos
            Karamazov </td>
          <td>Fiódor Dostoiévski </td>
          <td> R$ 25,50</td>
        </tr>

        <tr>
          <th scope="row">1</th>
          <td> <img class="img" src="https://i.imgur.com/igrjgde.jpg" alt=""> Física Básica </td>
          <td> Moysés Nussenzveig </td>
          <td> R$ 30,00 </td>
        </tr>

        <tr>
          <th scope="row">3</th>
          <td> <img class="img" src="https://i.imgur.com/0TLdO23.jpg" alt=""> Harry Potter</td>
          <td> J.K Rowling </td>
          <td> R$ 27,63 </td>
        </tr>

        <tr>
          <th scope="row">1</th>
          <td> <img class="img" src="https://i.imgur.com/lA4LIaH.jpg" alt=""> Dom Casmurro </td>
          <td> Machado de Assis </td>
          <td> R$ 35,00 </td>
        </tr>

        <tr>
          <th scope="row">1</th>
          <td> <img class="img" src="https://i.imgur.com/DS2mrin.jpg" alt=""> O fim da eternidade </td>
          <td> Isaac Isomov </td>
          <td> R$ 30,00 </td>
        </tr>

      </tbody>
    </table>

  </div>

  <div class="box">
    <div class="table">
      <tr>
        <th class="col-8 " id="aumentaFont" scope="row">Total :</th>
        <td id="afasta" style="color: #005186;">R$163,13 </td>
        <th id="aumentaFont" scope="row"> <button class="btn btn-primary" routerLink='/pagamento'>Finalizar
            Compra</button> </th>
      </tr>
    </div>
  </div>


</div>