<!--Jumbotron-->
<div class="jumbotron">
  <div class="col-md-8">
    <h1 class="display-4 d-flex justify-content-center">Apoie a Nossa causa!</h1>
    <div class="text-center">
      <p class="lead">Mussum Ipsum, cacilds vidis litro abertis. Nec orci ornare consequat. Praesent lacinia
        ultrices consectetur. Sed non ipsum felis. Admodum accumsan disputationi eu sit.
      </p>
    </div>
    <div class="d-flex justify-content-center">
      <a class="btn btn-outline-dark" href="#" role="button">Leia mais</a>
    </div>
  </div>


</div>
<!--/Jumbotron-->


<!--/Sobre nós-->
<div class="container mt-5 bg-white">
  <div class="row mt-4 mb-1">
    <div class="col-md-6">
      <h1 class="text-center text-monospace display-2 text-uppercase font-weight-bold m-2 ">Sobre a Recreio</h1>
      <p class="text-justify letra ">
        Nosso sonho é o livro ser próximo de todos, com afeto e carinho, onde todos podem ler,
        com uma plataforma entre doadores de livros e receptores. Caso pague imposto de renda,
        você pode converter até 4% do imposto a partir da <a target="_blank"
          href="http://leideincentivoacultura.cultura.gov.br/">Lei de Incentivo à Cultura</a>,
        a literatura e as humanidades. Se você é responsável por um aparelho público de educação e cultura,
        receba livros de interesse.

    </div>
    <div class="col-md-4 img-titulo">
      <div class="img-rs display">
        <img width="1000px" height="1000px" src="https://i.imgur.com/MRGPzTx.gif" alt="">
      </div>
    </div>

  </div>
  <!--/Sobre nós-->





  <!--/Principais itens dev-->
  <div class="container">
    <div class="row texto-m">
      <div class="col-md-12 texto-m">
        <h3 id="corDoTxtGrande" class="text-center ">PRINCIPAIS ITENS EM DESENVOLVIMENTO:</h3>
        <br>
        <br>

        <div class="text-justify ">
          <b>4.1</b>
          4.1 Até 2030, garantir que todas as meninas e meninos completem o ensino primário e secundário livre,
          equitativo e de qualidade, que conduza a resultados de aprendizagem relevantes e eficazes
          <br>
          <b>4.3</b>Até 2030, assegurar a igualdade de acesso para todos os homens e mulheres à educação técnica,
          profissional e superior de qualidade, a preços acessíveis, incluindo universidade
          <br>
          <b>4.5</b> Até 2030, eliminar as disparidades de gênero na educação e garantir a igualdade de acesso a todos
          os
          níveis de educação e formação profissional para os mais vulneráveis, incluindo as pessoas com deficiência,
          povos
          indígenas e as crianças em situação de vulnerabilidade.
          <a target="_blank" href="https://brasil.un.org/pt-br/sdgs/4">Veja todos os objetivos da ONU, aqui.</a>
        </div>
      </div>
    </div>
    <!--/Principais itens dev-->

    <br>
    <br>



    <!--Parte chata de fazer -->
    <div id="corDosCards" class="row  d-flex">
      <div class="col-sm-6 col-md-6 ajuste valores1 ">
        <div class="img-rs">
          <img height="1000px" width="1000px" src="https://i.imgur.com/vQifBF9.jpg">
        </div>
      </div>
      <div class="col-sm-6 col-md-6 m-auto ">
        <h2 class="text-center text-monospace display-3 text-uppercase font-weight-bold trocaCordoNome ">MISSÃO</h2>
        <div>
          <p class="text-wrap text-center m-4 font-weight-bold">
            Fazer com que todos possam ler livros de qualidade de forma fácil, barata, bla bla bla, asdjkhash
            askdhkjhk askhdhkshd awdaddasd asd asd asd asdasdasdasd asd asdasdasdasd asdasd asdasdasdasdasd asdasdasdasd
            asdasdasd.
          </p>
        </div>
      </div>
    </div>


    <div id="corDosCards" class="row ">
      <div class="col-sm-6 col-md-6 m-auto">
        <h2 class="text-center text-monospace display-3 text-uppercase font-weight-bold trocaCordoNome ">VISÃO</h2>
        <div>
          <p class="text-wrap text-center m-4 font-weight-bold">
            Ser a líder em comércio e comunicação científica, tornando nossos clientes felizes e estudiosos.

          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 ajustaImg ">
        <div class="img-rs">
          <img height="1000px" width="1000px" src="https://i.imgur.com/LLvvVNT.jpg" alt="">
        </div>
      </div>
    </div>


    <div id="corDosCards" class="row">
      <div class="col-sm-6 col-md-6 ajuste valores1">
        <div class="img-rs">
          <img height="1000px" width="1000px" src="https://i.imgur.com/zCHcWRg.jpg" alt="">
        </div>
      </div>
      <div class="col-sm-6 col-md-6 m-auto valores2">
        <h2 class="text-center text-monospace display-3 text-uppercase font-weight-bold trocaCordoNome">VALORES</h2>
        <p class="text-wrap text-center m-4 font-weight-bold">
          Provocar o estímulo poderoso da leitura nos nossos dias.

        </p>
      </div>
    </div>
    <hr>
    <!--Parte chata de fazer -->


    <br>
    <br>
    <br>



    <!-- NOSSO TIME -->
    <div class="container">
      <div class="row texto-m">
        <div class="col-md-12 texto-m">
          <h1 id="corDoTxtGrande" class="text-center text-monospace display-2 text-uppercase  m-2">Nosso Time</h1>


        </div>
      </div>
    </div>
    <br>
    <br>
    <!-- NOSSO TIME -->


    <!-- CardsDosParças -->
    <div class="container-fluid">
      <div class="row ">
        <div class="col-lg-3 col-md-6 ">
          <div class=" imgem card ">
            <div class=" card-body d-flex flex-column text-center">
              <img src="https://i.imgur.com/Z5vgUXk.png" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h3>Daniel Filho</h3>
              <h5>Full stack developer jr.</h5>
              <br>
              <br>
              <br>
              <footer>
                <a id="aumentaIconsInsta" href="https://www.instagram.com/glicogomes/"><img height="47px" width="47px"
                    src="https://i.imgur.com/mxQhjrW.gif" alt=""></a>
                <a id="aumentaIconsGit " href="https://github.com/danielagff?tab=repositories"><img
                    src="https://i.imgur.com/rZ6jU33.png" alt=""></a>
                <a id="aumentaIconsLink" href="https://www.linkedin.com/in/danielagff/"><img height="47px" width="47px"
                    src="https://i.imgur.com/JXSPDzk.gif" alt=""></a>
              </footer>

              <div class="d-flex flex-row justify-content-center">

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card imgem ">
            <div class="card-body d-flex flex-column">
              <img src="https://i.imgur.com/Z5vgUXk.png" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h3>Gustavo Rabelo</h3>
              <h5>Full stack developer jr.</h5>
              <br>
              <br>
              <br>

              <footer>
                <a id="aumentaIconsInsta" href="https://www.instagram.com/glicogomes/"><img height="47px" width="47px"
                    src="https://i.imgur.com/mxQhjrW.gif" alt=""></a>
                <a id="aumentaIconsGit " href="https://github.com/danielagff?tab=repositories"><img
                    src="https://i.imgur.com/rZ6jU33.png" alt=""></a>
                <a id="aumentaIconsLink" href="https://www.linkedin.com/in/danielagff/"><img height="47px" width="47px"
                    src="https://i.imgur.com/JXSPDzk.gif" alt=""></a>
              </footer>




              <div class="d-flex flex-row justify-content-center">

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card imgem ">
            <div class="card-body d-flex flex-column">
              <img src="https://i.imgur.com/Z5vgUXk.png" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h3>Luiz Felipe</h3>
              <h5>Full stack developer jr.</h5>
              <br>
              <br>
              <br>

              <footer>
                <a id="aumentaIconsInsta" href="https://www.instagram.com/glicogomes/"><img height="47px" width="47px"
                    src="https://i.imgur.com/mxQhjrW.gif" alt=""></a>
                <a id="aumentaIconsGit " href="https://github.com/danielagff?tab=repositories"><img
                    src="https://i.imgur.com/rZ6jU33.png" alt=""></a>
                <a id="aumentaIconsLink" href="https://www.linkedin.com/in/danielagff/"><img height="47px" width="47px"
                    src="https://i.imgur.com/JXSPDzk.gif" alt=""></a>
              </footer>



              <div class="d-flex flex-row justify-content-center">

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card imgem ">
            <div class="card-body d-flex flex-column">
              <img src="https://i.imgur.com/Z5vgUXk.png" alt="" class="img-fluid rounded-circle w-50 mb-3">
              <h3>Danilo Pereira</h3>
              <h5>Full stack developer jr.</h5>
              <br>
              <br>
              <br>

              <footer>
                <a id="aumentaIconsInsta" href="https://www.instagram.com/glicogomes/"><img height="47px" width="47px"
                    src="https://i.imgur.com/mxQhjrW.gif" alt=""></a>
                <a id="aumentaIconsGit " href="https://github.com/danielagff?tab=repositories"><img
                    src="https://i.imgur.com/rZ6jU33.png" alt=""></a>
                <a id="aumentaIconsLink" href="https://www.linkedin.com/in/danielagff/"><img height="47px" width="47px"
                    src="https://i.imgur.com/JXSPDzk.gif" alt=""></a>
              </footer>
            </div>

            <!-- PARTICIPANTES -->