<div class="container-fluid mt-5">

    <body>
         <!--Jumbotron-->
         <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="sloganImg w-100">
                        <img src="https://i.imgur.com/GVwO3lU.png" alt="Imagem com slogan" class="w-100" />
                    </div>
                </div>
            </div>
        </div>
        <!--/Jumbotron-->

        <!--Campo de Pesquisa-->
        <div class="row d-flex justify-content-center mt-5 mb-5">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" id="titulo" placeholder="Digite o título para pesquisar"
                        [(ngModel)]='tituloProdutoCategoria' (keyup)=' findByTituloProdutoCategoria()'>
                </div>
            </div>
        </div>
        <!--/Campo de Pesquisa-->


        <!--Produtos-->
        <div class="row d-flex justify-content-center">
            <div class="col ml-5 mt-5">
                <h3 class="mb-1" style="color: #005186">Categorias</h3>
                <ul class="list-group list-group-flush">
                    <a routerLink='/loja' class="list-group-item list-group-item-action">Todas as Categorias</a>
                </ul>
                <ul class="list-group list-group-flush"
                    *ngFor='let itemCategoria of listaCategoria | orderBy : key : reverse'>
                    <a [routerLink]="['/loja-categoria',itemCategoria.genero]"
                        (click)='findByGeneroProduto(itemCategoria.genero)'
                        class="list-group-item list-group-item-action">{{itemCategoria.genero}}</a>
                </ul>
            </div>

            <div class="col-10 mt-5">
                <div class="card cardProdutos text-center" *ngFor='let item of listaCategoriaFiltrada'>
                    <div class="card-body">
                        <a [routerLink]="['/compra',item.id]"><img src="{{item.imagem}}" alt=""
                                class="imgLivro mt-4" /></a>
                        <h5 class="card-title mt-2 text-left ml-2"> {{item.nome}} </h5>
                        <h6 class="card-title mt-2 text-left ml-2"> {{item.autor}} </h6>
                        <p class="card-text text-left ml-2">{{item.preco | currency:'BRL'}} </p>
                    </div>
                    <div class="card-footer mt-2">
                        <a [routerLink]="['/compra', item.id ]" class="button mb-5">Comprar</a>
                    </div>
                </div>
            </div>
        </div>

        <!--/Produtos-->





    </body>


</div>