<div class="container">


    <!--Navbar-->
    <nav class="navbar navbar-expand-sm fixed-top">
        <a class="navbar-brand" href="#">Livraria Abraço</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
            aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">HOME <span class="sr-only">(página atual)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">LOJA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">SOBRE NÓS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTATOS</a>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CADASTRO</a>
                </li>

            </ul>

        </div>
    </nav>
    <!--/Navbar-->






</div>
