.navbar{
    background-color: #005186;
    font-family: SansSerif;
    font-size: 13pt;
}

.navbar-brand{
    color:white
}

.nav-link:hover{
    color: #65ACD8;
}

.nav-link{
    color:white;
}
.navbar-brand{
    font-size: 15pt;
    font-family: Freestyle Script;
}