<!--Body-->
<div class="container-fluid">

    <body>
        <!--Jumbotron-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="sloganImg w-100">
                        <img src="https://i.imgur.com/pPJOvih.png" alt="" class="w-100">
                        <div class="sloganText">
                            <h2>LOREM IPSUN!</h2>
                            <h3></h3>
                        </div>
                    </div>
                </div>
            </div>
        <!--/Jumbotron-->

            <!--Produtos-->
            <div class="row d-flex justify-content-center">
                <div class="col-2 ml-2 mt-5">
                    <h3 class="mb-1" style="color: #005186;">Categorias</h3>
                    <ul class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action">Artes</a>
                        <a href="#" class="list-group-item list-group-item-action">Biologia</a>
                        <a href="#" class="list-group-item list-group-item-action">História</a>
                        <a href="#" class="list-group-item list-group-item-action">Humanas</a>
                        <a href="#" class="list-group-item list-group-item-action">Literatura</a>
                        <a href="#" class="list-group-item list-group-item-action">Matemática</a>
                    </ul>
                </div>

                <div class="col-9 ml-5 mt-5">
                    <div class="row">

                    </div>
                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/G80nmke.jpeg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Uma terra prometida</h5>
                            <p class="card-text text-left ml-2">Barack Obama</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/lA4LIaH.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Dom Casmurro</h5>
                            <p class="card-text text-left ml-2">Machado de Assis</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/BEgAAX6.jpeg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Ciências 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/cH5C0Ar.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Geografia 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/jukEX5i.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">História 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/BEgAAX6.jpeg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Ciências 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/kBprmIm.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Língua Portuguesa 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/0GBYZ5e.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Racismo Estrutural</h5>
                            <p class="card-text text-left ml-2">Silvio Almeida</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/G80nmke.jpeg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Uma terra prometida</h5>
                            <p class="card-text text-left ml-2">Barack Obama</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/lA4LIaH.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Dom Casmurro</h5>
                            <p class="card-text text-left ml-2">Machado de Assis</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/BEgAAX6.jpeg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Ciências 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/cH5C0Ar.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Geografia 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/jukEX5i.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">História 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/BEgAAX6.jpeg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Ciências 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/kBprmIm.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Língua Portuguesa 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/0GBYZ5e.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Racismo Estrutural</h5>
                            <p class="card-text text-left ml-2">Silvio Almeida</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/G80nmke.jpeg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Uma terra prometida</h5>
                            <p class="card-text text-left ml-2">Barack Obama</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/lA4LIaH.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Dom Casmurro</h5>
                            <p class="card-text text-left ml-2">Machado de Assis</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/BEgAAX6.jpeg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Ciências 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/cH5C0Ar.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Geografia 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/jukEX5i.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">História 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/BEgAAX6.jpeg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Ciências 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/kBprmIm.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Língua Portuguesa 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/0GBYZ5e.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Racismo Estrutural</h5>
                            <p class="card-text text-left ml-2">Silvio Almeida</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/G80nmke.jpeg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Uma terra prometida</h5>
                            <p class="card-text text-left ml-2">Barack Obama</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/lA4LIaH.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Dom Casmurro</h5>
                            <p class="card-text text-left ml-2">Machado de Assis</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/BEgAAX6.jpeg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Ciências 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/cH5C0Ar.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Geografia 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/jukEX5i.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">História 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/BEgAAX6.jpeg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Ciências 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/kBprmIm.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Língua Portuguesa 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/0GBYZ5e.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Racismo Estrutural</h5>
                            <p class="card-text text-left ml-2">Silvio Almeida</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/G80nmke.jpeg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Uma terra prometida</h5>
                            <p class="card-text text-left ml-2">Barack Obama</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/lA4LIaH.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Dom Casmurro</h5>
                            <p class="card-text text-left ml-2">Machado de Assis</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/BEgAAX6.jpeg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Ciências 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/cH5C0Ar.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Geografia 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/jukEX5i.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">História 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/BEgAAX6.jpeg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Ciências 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/kBprmIm.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Língua Portuguesa 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/0GBYZ5e.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Racismo Estrutural</h5>
                            <p class="card-text text-left ml-2">Silvio Almeida</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/G80nmke.jpeg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Uma terra prometida</h5>
                            <p class="card-text text-left ml-2">Barack Obama</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/lA4LIaH.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Dom Casmurro</h5>
                            <p class="card-text text-left ml-2">Machado de Assis</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/BEgAAX6.jpeg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Ciências 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/cH5C0Ar.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Geografia 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/jukEX5i.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">História 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/BEgAAX6.jpeg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Ciências 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/kBprmIm.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Língua Portuguesa 3º Ano</h5>
                            <p class="card-text text-left ml-2">Aprender Juntos</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                    <div class="card cardProdutos text-center">
                        <div class="card-body">
                            <a href=""><img src="https://i.imgur.com/0GBYZ5e.jpg" alt="" class="imgLivro mt-4"></a>
                            <h5 class="card-title mt-2 text-left ml-2">Racismo Estrutural</h5>
                            <p class="card-text text-left ml-2">Silvio Almeida</p>
                        </div>
                        <div class="card-footer mt-2">
                            <a href="#" class="button mb-5">Comprar</a>
                        </div>
                    </div>

                </div>

            </div>
            <!--/Produtos-->

        </div>

    </body>
    <!--/Body-->

</div>