<nav class="navbar navbar-expand-sm">
    <img class="logo" src="https://i.imgur.com/6WIAE8r.png" alt="Logo Livraria Abraço">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink='/home'>HOME <span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/loja'>LOJA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/sobre-nos'>SOBRE NÓS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/contatos'>CONTATOS</a>
            </li>
        </ul>



        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink='/login'><img src="https://i.imgur.com/2uokwRX.png" alt="Icone Nova Categoria"></a>
            </li>
            <li class="nav-item">
                <p class="nav-link" routerLink='/login'>Olá, {{nome}}</p>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)='sair()'><img src="https://i.imgur.com/2HXUqoo.png" alt="Icone sair"></a>
            </li>
        </ul>
        </div>
</nav>
