<!--Rodapé-->
<footer class="site-footer mt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col logo-footer">
        <img src="https://i.imgur.com/uf5CaLc.png" alt="Logo tipo da Livraria Abraço">
      </div>

      <div class="col-md-3 mr-5">
        <h6>Recreio</h6>
        <p class="text-justify"> A Recreio é uma empresa preocupada com a qualidade e desenvolvimento da educação e
          cultura. Para isso utilizamos a tecnologia como uma ferramenta, tornando o aprendizado mais fácil e divertido.
        </p>
      </div>
      <div class="col">
        <h6>Contatos</h6>
        <ul class="footer-links">
          <li>R. Recreio, 02 - 14º Andar</li>
          <li>São Paulo, SP</li>
          <li>+55 11 98765-4321</li>
          <li><a href="#">livrariaabraco02@gmail.com</a></li>
        </ul>
        <h6>Redes Sociais</h6>
        <ul class="social-icons d-flex justify-content-start">
          <li><a class="facebook" href="https://facebook.com/" target="_blank" rel="noopener noreferrer"><i
                class="fa fa-facebook"></i></a></li>
          <li><a class="linkedin" href="https://linkedin.com/" target="_blank" rel="noopener noreferrer"><i
                class="fa fa-linkedin"></i></a></li>
          <li><a class="instagram" href="https://instagram.com/" target="_blank" rel="noopener noreferrer"><i
                class="fa fa-instagram"></i></a></li>
          <li><a class="whatsapp" href="https://web.whatsapp.com/" target="_blank" rel="noopener noreferrer"><i
                class="fa fa-whatsapp"></i></a></li>
        </ul>
      </div>
      <div class="col">
        <h6>Acesso Rápido</h6>
        <ul class="footer-links">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/loja">Loja</a></li>
          <li><a routerLink="/sobre-nos">Sobre Nós</a></li>
          <li><a routerLink="/contato">Fale Conosco</a></li>
          <li><a routerLink="/cadastro">Cadastro</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-6 col-xs-12">
        <p class="copyright-text d-flex justify-content-center">Copyright &copy; 2021 Todos os direitos reservados a
          Recreio
        </p>
      </div>
    </div>
  </div>
</footer>


<!--/Rodapé-->